# Supabase Database URI
DATABASE_URL="postgresql://user:password@host:6543/postgres?sslmode=require"
PGHOST="aws-0-ap-southeast-1.pooler.supabase.com"
PGPORT="6543"
PGUSER="postgres.yourproject"
PGPASSWORD="yourpassword"
PGDATABASE="postgres"

# Telegram Notification Config
TELEGRAM_BOT_TOKEN="your_telegram_bot_token"
TELEGRAM_CHAT_ID="your_telegram_chat_id"

# Security
JWT_SECRET="your_jwt_secret"
